.head {
  // background-color: $color_1;
}
.body {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4px;
  a {
    padding: 10px;
    font-size: 17px;
    color: black;
    &:hover,
    &.active {
      background-color: $color_2;
      color: $color_1;
      font-weight: 600;
    }
  }
}
