.footer {
  background-color: #232b35;
  padding: 50px 0;
  font-size: 15px;
  color: rgb(227, 227, 227);

  h4 {
    color: $color_2;
  }

  .sec {
    padding-bottom: 40px;

    &.sec1 {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include respond-below(sm) {
        align-items: center;
        text-align: center;
      }

      .image-container {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        img {
          flex-shrink: 0; /* Prevents images from shrinking */
          width: auto; /* Keeps the natural width */
          height: 100px; /* Sets consistent height */
          object-fit: contain; /* Ensures image proportions are preserved */
        }
      }
    }

    .links {
      margin: 16px 0;

      a {
        color: white;

        &:hover {
          color: $color_1;
        }
      }
    }
  }
}
